<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>


<div class="feild form-group">
    <%= form.number_field :user_id,id: :posts_user_id, class: "form-control",value: current_user.id,type: :hidden %>
  </div>

  <%# <div>
    <%= form.label :user_id, style: "display: block" %>
    <%# <%= form.text_field :user_id %>
  <%# </div> %>

  <div>
    <%= form.label "User", style: "display: block" %>
    <select onchange="update_user()" id="user">
      <% User.all.each do |user| %>
        <option value=<%= user.id %>><%= user.name %></option>
      <% end %>
    </select>
  </div>

  <script type="javascript">
    function update_user(){
      document.getElementById("post_user_id").value = document.getElementById("user").value
    }
  </script>


<%= form_with(model: [@post, @post.comments.build], local: true) do |form| %>
  <%= form.text_area :body %>
  <%= form.submit "Add Comment" %>
<% end %>


  <div>
    <%= form.submit %>
  </div>
<% end %>
